<h1>{{ title }}</h1>

<div *ngIf="success; else elseBlock" style="background-color: aquamarine;">
  user logged in
</div>

<ng-template #elseBlock>
    user not logged in
</ng-template>


<ul>
  <li *ngFor = "let contact of contacts; index as i">
      {{ i }} {{ contact.name }}
  </li>
</ul>

<h4>Learning Switch Cases</h4>


<div [ngSwitch] = "super">
  <div *ngSwitchCase="'wonder'">
    WonderWoman
  </div>
</div>


<h4>Learning Ng Style</h4>

<div [ngStyle] = "{'color': 'blue'}"> Hey</div>

<router-outlet></router-outlet>
